<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Chat en Temps Réel</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="login" style="display: flex; flex-direction: column; align-items: center; margin-top: 50px;">
        <h2>Connexion</h2>
        <form id="loginForm" autocomplete="off" method="POST">
            <input type="text" id="pseudo" name="pseudo" placeholder="Votre pseudo" required autofocus>
            <input type="password" id="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">Se connecter</button>
        </form>
        <div id="loginError" style="color:red; display:none;"></div>
    </div>
    <div id="chat" style="display:none;">
        <h2>Chat en Temps Réel</h2>
        <button id="logoutBtn" style="float:right;">Déconnexion</button>
        <ul id="messages">
            {% if messages %}
                {% for msg in messages %}
                    <li>{{ msg.pseudo }}: {{ msg.content }}</li>
                {% endfor %}
            {% endif %}
        </ul>
        <form id="form" autocomplete="off">
            <input id="m" autocomplete="off" placeholder="Votre message" />
            <button>Envoyer</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat.js"></script>
</body>
</html>
