<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Chat en Temps Réel</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="chat">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Chat en Temps Réel</h2>
            <div style="margin-left: 2em; font-size: 1em; color: #333;">Connecté en tant que : <b>{% if user %}{{ user.pseudo }}{% endif %}</b></div>
            <button id="logoutBtn" style="margin-left: 2em;">Déconnexion</button>
        </div>
        <ul id="messages">
            {% if messages %}
                {% for msg in messages %}
                    <li>{{ msg.pseudo }}: {{ msg.content }}</li>
                {% endfor %}
            {% endif %}
        </ul>
        <form id="form" autocomplete="off">
            <input id="m" autocomplete="off" placeholder="Votre message" />
            <button>Envoyer</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat.js"></script>
</body>
</html>
