<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Compte non validé</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        <div class="container">
            <h1>Votre compte n'est pas encore validé</h1>
            <p>Un email de validation a été envoyé à votre adresse.<br>Veuillez cliquer sur le lien reçu pour activer votre compte.</p>
            <a href="/logout" class="button">Retour à la connexion</a>
            <div class="footer" style="margin-top:2em; color:#E3882D; text-align:center;">&copy; 2025 Chat En Temps Réel</div>
        </div>
</body>
</html>