<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Compte validé</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        <div class="container">
            <h1>Votre compte a bien été validé !</h1>
            <p>Bienvenue, <b>{{ pseudo }}</b>.</p>
            <a href="/chat" class="button">Accéder au chat</a>
            <div class="footer" style="margin-top:2em; color:#E3882D; text-align:center;">&copy; 2025 Chat En Temps Réel</div>
        </div>
</body>
</html>